@font-face{
font-family: StretchPro;
font-display: swap;
src: url("../fonts/StretchPro.woff2") format("woff2"), url("../fonts/StretchPro.woff") format("woff");
font-weight: 400;
font-style: normal;
}
